.hero {
    width: 100%;
    height: 800px;
    background: #20B15A;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 18px 0 57px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 40px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a:hover {
    color: #FFFFFF;
}

.menu li a {
    font-size: 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
}

.menu li a.active {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #224932;
    border-radius: 10px;
}

.menu li a.active:hover {
    background: #224932;
    color: #FFFFFF;
}


.hero__main {
    display: flex;
    justify-content: space-between;
}

.hero_main__left {
    padding-top: 120px;
}

.left_title {
    color: #000;
    font-size: 50px;
    max-width: 550px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.left_sub__title {
    max-width: 447px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 37px;
}

.main-btn {
    padding: 20px 30px;
    background: #224932;
    border: 0;
    border-radius: 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.main-btn:hover {
    background: #145a31;
}

.companies {
    width: 100%;
    padding: 30px 100px;
    background: #F8FFF9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.what_we_do {
    padding: 60px 0 120px 0;
}

.what_we_do-title {
    margin-bottom: 20px;
    color: #20B15A;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.what_we_do-subtitle {
    font-size: 30px;
    max-width: 495px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.what_we_do-titles {
    margin-bottom: 50px;
}

.what_we_do-items {
    display: flex;
    justify-content: space-between;
}

.what_we_do-item {
    padding: 50px 30px;
}

.item-icon {
    width: 100px;
    height: 100px;
    background: #20B15A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.item-subtitle {
    max-width: 300px;
    width: 100%;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 25px;
}


.item-btn a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #000
}

.item-btn a span {
    padding-left: 10px;
    transition: all .3s ease;
}

.item-btn a:hover span {
    padding: 15px;
}

.advantages {
    width: 100%;
    padding: 80px 0;
    background: #FAFFFB;
    margin-top: 40px;
}

.advantages__body {
    display: flex;
    justify-content: space-between;
}

.advantage {
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 303px;
    width: 100%;
    text-align: center;
    border-right: 1px solid #20B15A;
}

.advantage:last-child {
    border: 0;
}

.advantages__logo {
    margin-bottom: 15px;
}

.advantage__title {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin-bottom: 30px;
}

.advantages__counter {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #20B15A;
    font-weight: bold;
}

.portfolio {
    padding: 62px 0;
}

.portfolio__body {
    display: flex;
    justify-content: space-between;
}

.portfolio__column_left {
    max-width: 560px;
    width: 100%;
}

.portfolio__column_right {
    max-width: 560px;
    width: 100%;
}

.case__img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
}

.case__title {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.case__subtitle {
    max-width: 533px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 25px;
}

.swiper {
    width: calc(1230px + 500px);
    height: 260px;
    overflow: visible;
}

.swiper-body {
    width: calc(1230px + 400px);
}

.swiper-slide {
    background: #fff;
    box-shadow: 0px 4px 5px 5px rgba(0,0,0,0.25);
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comments {
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}

.swiper-btn {
    position: absolute !important;
    top: -100px !important;
    right: 30px !important;
}

.swiper-button-prev {
    all: unset;
    margin-right: 70px !important;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

.swiper-button-next {
    all: unset;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
}

.slider__comment{
    line-height: 30px;
}

.slider__comment_owner{
    display: flex;
    align-items: center;
}

.comment__owner{
    width: 70px;
    height: 70px;
    background: #E1EDFB;
    border-radius: 50%;
    background-position: center bottom;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
}


.comment__owner img {
    position: absolute;
    bottom: 0px;
    left: 5px
}

.owner_position__name{
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

.owner_position_role{
    font-size: 18px;
}

.subscribe__body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe__tile{
    text-transform: uppercase;
    color: #20B15A;
    font-size: 20px;
    margin-bottom: 30px;
}

.subscribe__subtitle{
    color: #000;
    font-size: 30px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.subscribe__bottom{
    font-size: 16px;
    color: #8B8B8B;
    margin-bottom: 50px;
}

.subscribe__form input {
    width: 595px;
    padding: 17px 10px;
    border: 1px solid black;
    border-radius: 16px;
    left: 0;
}

.subscribe__form button {
    padding: 14px 24px;
    background: #F55F1D;
    color: #fff;
    border: 0;
    border-radius: 16px;
    z-index: 999;
    position: absolute;
    right: 3px;
    top: 4px;
}

.subscribe__form{
    position: relative;
}

.subscribe{
    padding: 30px 0 120px 0;
}


.footer{
    width: 100%;
    height: 441px;
    padding: 70px 0 20px 0;
    background: #00CA72;
}

.footer__body{
    display: flex;
    justify-content: space-between;
}

.social{
    width: 40px;
    height: 40px;
    background: #20B15A;
    border-radius: 50%;
}

.footer__item{
    width: 328px;
}

.footer__logo{
    font-size: 40px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__subtitle{
    font-size: 20px;
    color: #000;
    line-height: 25px;
}

.footer_socials{
    display: flex;
    margin-top: 20px;
    margin-bottom: 70px;
}

.social:first-child{margin-left: 0;}

.social{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__copyright{
    font-size: 20px;
}

.footer__item_header{
    font-size: 20px;
    padding: 15px 0;
    font-weight: bold;
}

.footer__item_link:first-child{
    margin-top: 0;
}

.footer__item_link {
    font-size: 18px;
    margin-top: 20px;
}

.footer__item_link a{
    color: black;
    text-decoration: none;
}

.footer__item_link a:hover{
    color: #fff;
}

.item__street{
    width: 258px;
    margin-top: 30px;
    line-height: 25px;
    font-size: 20px;
}